# Environment variables declared in this file are automatically made available to nestjs.

# Are we in production mode if no some help feature for debug will be activated
PRODUCTION={{ 'true' if deploy_environment == 'production' else 'false' }}

# Nestjs port
APP_PORT=3000

# Database configuration
DATABASE_HOST=litopia-db
DATABASE_PORT=5432
DATABASE_USER={{ litopia_db_user }}
DATABASE_PASS={{ litopia_db_password }}
DATABASE_NAME={{ litopia_db_database }}

# PostgreSQL init (used by postgres container)
POSTGRES_DB={{ litopia_db_database }}
POSTGRES_USER={{ litopia_db_user }}
POSTGRES_PASSWORD={{ litopia_db_password }}

# Docker Compose variables
LITOPIA_DOMAIN={{ service_domains.litopia }}
LITOPIA_DB_DATA_PATH={{ storage.databases.litopia }}

# Discord src conf
DISCORD_CLIENT_ID={{ litopia_discord_client_id }}
DISCORD_CLIENT_SECRET={{ litopia_discord_client_secret }}
DISCORD_CLIENT_TOKEN={{ litopia_discord_client_token }}
DISCORD_CALLBACK_URL={{ litopia_discord_callback_url }}
DISCORD_CANDIDATURE_CHANNEL_ID={{ litopia_discord_candidature_channel_id }}
DISCORD_GUILD_ID={{ litopia_discord_guild_id }}

#Discord roles ids configuration
DISCORD_ROLE_GHOST={{ litopia_discord_role_ghost }}
DISCORD_ROLE_CANDIDATE={{ litopia_discord_role_candidate }}
DISCORD_ROLE_PRE_ACCEPTED={{ litopia_discord_role_pre_accepted }}
DISCORD_ROLE_PRETOPIEN={{ litopia_discord_role_pretopien }}
DISCORD_ROLE_LITOPIEN={{ litopia_discord_role_litopien }}
DISCORD_ROLE_ACTIVE_LITOPIEN={{ litopia_discord_role_active_litopien }}
DISCORD_ROLE_INACTIVE_LITOPIEN={{ litopia_discord_role_inactive_litopien }}
DISCORD_ROLE_REFUSED={{ litopia_discord_role_refused }}
DISCORD_ROLE_LITOGOD={{ litopia_discord_role_litogod }}
DISCORD_ROLE_UNIQUE_GOD={{ litopia_discord_role_unique_god }}

#AMP configuration
AMP_HOST={{ litopia_amp_host }}
AMP_INSTANCE={{ litopia_amp_instance }}
AMP_LOGIN={{ litopia_amp_login }}

# API localkey
API_LOCAL_KEY={{ litopia_api_local_key }}
