# Database Root
POSTGRES_PASSWORD={{ postgres_root_password }}
POSTGRES_USER={{ postgres_root_user | default('postgres') }}
POSTGRES_DB={{ postgres_root_db | default('postgres') }}

# PgAdmin
PGADMIN_DEFAULT_EMAIL={{ pgadmin_email | default('admin@example.com') }}
PGADMIN_DEFAULT_PASSWORD={{ pgadmin_password | default('changeme') }}

# Paths & Network
DATA_PATH={{ data_path }}
PROXY_NETWORK={{ proxy_network_name }}
BASE_DOMAIN={{ base_domain }}
