# Database Connection
POSTGRES_HOST=nextcloud-db
POSTGRES_DB={{ nextcloud_db_database }}
POSTGRES_USER={{ nextcloud_db_user }}
POSTGRES_PASSWORD={{ nextcloud_db_password }}

# Redis
REDIS_HOST=redis
REDIS_HOST_PASSWORD={{ redis_password }}

# Nextcloud Admin
NEXTCLOUD_ADMIN_USER={{ nextcloud_admin_user }}
NEXTCLOUD_ADMIN_PASSWORD={{ nextcloud_admin_password }}
NEXTCLOUD_TRUSTED_DOMAINS={{ service_domains.nextcloud }}
NEXTCLOUD_DATA_DIR=/var/www/html/data
OVERWRITECLIURL=https://{{ service_domains.nextcloud }}
OVERWRITEPROTOCOL=https

# Permissions
PUID={{ system_user }}
PGID={{ system_group }}

# Paths & Network
TZ={{ timezone }}
DB_PATH={{ storage.databases.nextcloud }}
HTML_PATH={{ storage.ansible.compose }}/nextcloud/html
DATA_PATH={{ storage.media.nextcloud_data }}
PROXY_NETWORK={{ proxy_network_name }}
