services:
  postgres:
    image: tensorchord/pgvecto-rs:pg16-v0.4.0
    container_name: postgres
    restart: always
    env_file: .env
    ports:
      - "127.0.0.1:5432:5432"
    volumes:
      - ${DATA_PATH}/postgres:/var/lib/postgresql/data
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - default
      - proxy
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 5s
      timeout: 5s
      retries: 5

networks:
  default:
  proxy:
    name: ${PROXY_NETWORK}
    external: true
