services:
  postgres:
    image: tensorchord/pgvecto-rs:{{ docker_versions.postgres }}
    container_name: postgres
    restart: always
    deploy:
      resources:
        limits:
          cpus: '1.0'
          memory: 2G
        reservations:
          cpus: '0.25'
          memory: 512M
    env_file: .env
    ports:
      - "127.0.0.1:5432:5432"
    volumes:
      - ${DATA_PATH}/postgres:/var/lib/postgresql/data
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - default
      - proxy
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 5s
      timeout: 5s
      retries: 5

networks:
  default:
  proxy:
    name: ${PROXY_NETWORK}
    external: true
