# Permissions
PUID={{ system_user }}
PGID={{ system_group }}

# Paths & Network
TZ={{ timezone }}
CONFIG_PATH={{ storage.ansible.compose }}/jellyfin/config
CACHE_PATH={{ storage.ansible.compose }}/jellyfin/cache
MEDIA_PATH={{ storage.media.jellyfin_movies | dirname }} # /mnt/nas/media
PROXY_NETWORK={{ proxy_network_name }}
JELLYFIN_DOMAIN={{ service_domains.jellyfin }}
