# Permissions
PUID={{ system_user }}
PGID={{ system_group }}

# Paths & Network
TZ={{ timezone }}
JELLYFIN_CONFIG_PATH={{ storage.ansible.compose }}/jellyfin/config
JELLYFIN_CACHE_PATH={{ storage.ansible.compose }}/jellyfin/cache
JELLYFIN_MEDIA_PATH={{ storage.media.jellyfin_root }}
PROXY_NETWORK={{ proxy_network_name }}
JELLYFIN_DOMAIN={{ service_domains.jellyfin }}
